<% cache [@page, MediaItem.cache_key], expires_in: 4.weeks do %>
  <div class="site-container">
    <div class="container-fluid">
      <div class="row hero">
        <div class="col-sm-12 text-center my-auto">
          <%= lazy_image MediaItem.find(1) %>
        </div>
      </div>
    </div>
  </div>
  <div class="site-container mb-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <div class="large-title mb-3">Bras and panties for everyone</div>
          <p>Jonesy New York is an undies brand that merges vintage silhouettes, simplicity and social commitment. Hitting a rare mark between trend and timeless design, we sought to create a polished system that highlighted the diversity of her audience and celebrated her updated basics.</p>
        </div>
        <div class="col-sm-3 offset-sm-1 small-body-text">
          <h2><strong>Client</strong></h2>
          <div class="mb-3">Jonesy New York</div>
          <h2><strong>Services</strong></h2>
          <ul class="blank-list">
            <li>Brand Refresh</li>
            <li>Site Design & Development</li>
            <li>Art Direction</li>
            <li>Email Designs</li>
          </ul>
          <div class="mb-3">Jonesy New York</div>
          <h2><strong>CMS</strong></h2>
          <div>Forest (Labud’s Custom CMS)</div>
        </div>
        <div class="col-sm-12 mt-7">
          <div class="bold-title mb-5">Updated Classics</div>
          <%= embedded_svg 'jonesy-loader', class: 'jonesy-loader mx-auto display-block' %>
          <style>
            @keyframes jonesy-loader {
              to {
                stroke-dashoffset: 0;
              }
            }

            .jonesy-loader {
              width: 300px;
              height: 95px;
              max-width: 100%;
              z-index: 100;
              pointer-events: none;
            }

            @media (min-width: 576px) {
              .jonesy-loader {
                width: 729px;
                height: 231px;
              }
            }

            .jonesy-loader__path {
              stroke-dasharray: 1400;
              stroke-dashoffset: 1400;
              animation-name: jonesy-loader;
              animation-timing-function: linear;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              fill: none;
              stroke: black;
            }

            .jonesy-loader__path--j { animation-duration: 5.0s; }
            .jonesy-loader__path--o { animation-duration: 3.3s; }
            .jonesy-loader__path--n { animation-duration: 4.1s; }
            .jonesy-loader__path--e { animation-duration: 4.7s; }
            .jonesy-loader__path--s { animation-duration: 3.4s; }
            .jonesy-loader__path--y { animation-duration: 4.8s; }
          </style>
        </div>
        <div class="col-sm-6 mt-5">
          <p class="small-body-text">We wanted to highlight the push and pull between classic and contemporary throughout the branding. This was realized in the logo and type system which used a 1970s-evoking display font called Windsor. The large type is used as a main graphic element throughout the site and on elegant micro-animations at necessary moments.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row image-container align-items-center">
      <div class="col-sm-6">
        <%= lazy_image MediaItem.find(2) %>
      </div>
      <div class="col-sm-6">
        <%= lazy_image MediaItem.find(3) %>
      </div>
    </div>
  </div>
  <div class="site-container mt-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p class="small-body-text">To avoid being too referential, we let the display typeface shine and used a pulled back color scheme, a system of more legible body typefaces and layouts that emphasized usability.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-6">
  <div class="site-container mt-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="bold-title mb-5">Usability</div>
          <p class="small-body-text">Usability extended to the site’s backend, too. Built on Forest, our custom ruby on rails CMS, we created several intuitive features to help the client maintain and encourage our design intentions. One such feature is the collage photo layout maker, which allows the client to create systemized collages throughout the site</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-6">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="bold-title mb-5">Product Photos as Graphic Elements</div>
        </div>
      </div>
    </div>
  </div>
  <%= lazy_image MediaItem.find(4) %>
  <div class="site-container mt-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p class="small-body-text">We art directed a set of e-commerce product shots and strategized the use of Jonesy’s exceptional editorial imagery to highlight the wide range of body types Jonesy appeals to. Bookending the shopping experience, we created a set builder that encourages users to experiment with different products and colors, adding a layer of customization to the brand.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
