<%= simple_form_for([:admin, @project]) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Metadata
            <button type="button" class="btn btn-default btn-xs pull-right" data-collapse-trigger>
              <div class="collapsable-icon glyphicon glyphicon-chevron-up"></div>
            </button>
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <%= render 'admin/form_inputs/slug', f: f %>
                <%= f.input :title %>
                <%= f.input :subtitle %>
                <%= f.input :description, markdown: true %>
                <%= f.input :metadata, markdown: true %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
              <div class="col-sm-6">
                <%= render 'admin/form_inputs/status', f: f, record: @project %>
                <%= f.input :page_color, as: :color, default: '#ffffff' %>
                <%= f.input :url, label: 'Website URL' %>
                <%= f.association :video_item, label: 'Video', remote: { path: admin_media_items_path(videos: true) } %>
                <%= f.association :video_item_mobile, label: 'Video (mobile)', remote: { path: admin_media_items_path(videos: true) } %>
                <%= f.association :media_item, as: :image, label: 'Featured image or poster image', hint: 'This is used as the poster image when the project has a video.' %>
                <%= f.input :dark_featured_media, hint: 'Set this to true if the featured image or video is dark. This will make the header white when at the top of a project.' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render 'admin/block_record/block_layout', f: f, block_layout: @block_layout, block_kinds: @block_kinds %>
      <%= f.button :submit, class: 'btn-success' %>

    </div>
  </div>
<% end %>
