<%= render 'admin/headers/index', records: @projects, model_name: 'Project' %>

<div class="table-responsive">
  <table class="forest-table table table-striped">
    <thead>
      <tr>
        <% if Project.statusable? %>
          <th></th>
        <% end %>
        <th><%= table_sorter title: 'ID', path: :admin_projects_path, scope: :by_id, default_order: :desc %></th>
        <th>Media Item</th>
        <th><%= table_sorter title: 'Slug', path: :admin_projects_path, scope: :by_slug, default_order: :asc %></th>
        <th>Title</th>
        <th>Subtitle</th>
        <th><%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :admin_projects_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :admin_projects_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <% if Project.statusable? %>
            <td><%= status_indicator project %></td>
          <% end %>
          <td><%= project.id %></td>
          <td><%= table_thumbnail project.media_item %></td>
          <td><%= project.slug %></td>
          <td><%= project.title %></td>
          <td><%= project.subtitle %></td>
          <td><%= forest_date project.created_at %></td>
          <td><%= forest_date project.updated_at %></td>
          <td width="1"><%= link_to 'Edit', edit_admin_project_path(project), class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1">
            <% if try('project_path', project) %>
              <% if project.respond_to?(:to_friendly_param) %>
                <% param = project.to_friendly_param %>
              <% else %>
                <% param = project %>
              <% end %>
              <%= link_to 'Show', project_path(param), class: 'btn btn-xs btn-info', role: 'button', data: { turbolinks: false } %>
            <% else %>
              <%= link_to 'Show', admin_project_path(project), class: 'btn btn-xs btn-info', role: 'button', data: { turbolinks: false } %>
            <% end %>
          </td>
          <td width="1"><%= link_to 'Destroy', [:admin, project], method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure you want to destroy this Project?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @projects %>
