<%= content_tag :div,
                id: 'brush-stroke-canvas',
                class: "brush-stroke-canvas #{'brush-stroke-canvas--disabled' if @date != Date.today}",
                style: "background-color: #{@bg_color};" do %>
  <div class="container-fluid">
    <%= form_for BrushStroke.new,
                 html: {
                  class: 'row hero',
                    id: 'brush-stroke-canvas-form',
                    data: {
                      color: @color } } do |f| %>
      <div class="hero__text col-sm-12 text-center my-auto pt-4">
        <h1 class="jumbo-title mb-5"><%= md Setting.for(:home_tagline_title) %></h1>
        <h2 class="small-title mb-1">Services</h2>
        <p class="mx-auto" style="max-width: 860px;"><%= md Setting.for(:home_tagline_services) %></p>
      </div>
      <% @brush_strokes.each do |brush_stroke| %>
        <%= content_tag :div,
                        nil,
                        class: 'previous-brush-stroke brush-stroke',
                        style: brush_stroke.css_styles,
                        data: {
                          created_at: brush_stroke.created_at.to_i } %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="canvas-navigation__element canvas-navigation__element--date d-flex align-items-center">
  <div class="canvas-navigation__pebble"></div>
  <%= content_tag :div, @date.strftime('%m/%d/%y'), class: 'small-body-text ml-2' %>
</div>
<div class="canvas-navigation__element canvas-navigation__element--nav d-flex ml-auto">
  <%= link_to '←', root_path(date: (@date - 1.day).strftime('%m-%d-%y')), class: 'canvas-navigation__element--nav__previous blank-link small-body-text', data: { turbolinks: false } %>
  <%= link_to '→', root_path(date: (@date + 1.day).strftime('%m-%d-%y')), class: 'canvas-navigation__element--nav__next blank-link small-body-text', data: { turbolinks: false } %>
</div>

<% cache [@page, 'blocks'], expires_in: 1.day do %>
  <%= render_blocks @page %>
<% end %>
