<% cache [@project], expires_in: 1.day do %>
  <div class="image-hero">
    <% if @project.video_item.present? %>
      <%= lazy_video @project,
                     video_item: @project.video_item,
                     video_item_mobile: @project.video_item_mobile,
                     poster_media_item: @project.media_item,
                     autoplay: true %>
    <% else %>
      <%= image_tag @project.media_item.attachment.url(:large) %>
    <% end %>
  </div>
  <div class="site-container mb-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <%= content_tag :div, md(@project.subtitle), class: 'large-title mb-3' if @project.subtitle.present? %>
          <%= content_tag :div, md(@project.description) if @project.description.present? %>
          <% if @project.url.present? %>
            <div class="mt-4">
              <%= link_to @project.pretty_website_url, @project.url, class: 'background-color-link' %>
            </div>
          <% end %>
        </div>
        <div class="project__metadata col-sm-3 offset-sm-1 small-body-text mt-4 mt-sm-0">
          <%= md @project.metadata %>
        </div>
      </div>
    </div>
  </div>

  <%= render_blocks @project %>
<% end %>
