<% cache [@project], expires_in: 4.weeks do %>
  <div class="site-container">
    <div class="container-fluid">
      <div class="row hero">
        <div class="col-sm-12 text-center my-auto">
          <%= lazy_image @project.media_item %>
        </div>
      </div>
    </div>
  </div>
  <div class="site-container mb-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <%= content_tag :div, md(@project.subtitle), class: 'large-title mb-3' if @project.subtitle.present? %>
          <%= content_tag :div, md(@project.description) if @project.description.present? %>
        </div>
        <div class="project__metadata col-sm-3 offset-sm-1 small-body-text">
          <%= md @project.metadata %>
        </div>
      </div>
    </div>
  </div>

  <%= render_blocks @project %>
<% end %>
