<div class="site-container small-body-text">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <div class="team-block__col-1 col-sm-6 mb-5 mb-sm-0">
            <div class="row">
              <% if block.media_item_1.present? %>
                <div class="col-sm-11 mb-4">
                  <%= lazy_image block.media_item_1, size: :medium %>
                </div>
              <% end %>
              <div class="col-sm-10">
                <%= content_tag :div, block.title_1, class: 'medium-title' %>
                <%= link_to block.url_1, class: 'blank-link' do %>
                  <%= content_tag :div, block.url_1.sub('https://www.', '').sub('/', ''), class: 'mb-3' %>
                <% end %>
                <%= md block.column_1 %>
              </div>
            </div>
          </div>
          <div class="team-block__col-2 col-sm-6">
            <div class="row">
              <% if block.media_item_2.present? %>
                <div class="col-sm-11 mb-4">
                  <%= lazy_image block.media_item_2, size: :medium %>
                </div>
              <% end %>
              <div class="col-sm-10">
                <%= content_tag :div, block.title_2, class: 'medium-title' %>
                <%= link_to block.url_2, class: 'blank-link' do %>
                  <%= content_tag :div, block.url_2.sub('https://www.', '').sub('/', ''), class: 'mb-3' %>
                <% end %>
                <%= md block.column_2 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
