<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/shared_head' %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'forest/application_public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= jquery_include_tag %>
    <%= javascript_include_tag 'forest/application_public' %>
  </head>
  <body class="<%= @body_classes.try(:join, ' ') %>" style="<%= @body_styles.try(:join, ' ') %>">
    <%= render 'shared/header' %>
    <main id="application-wrapper" class="application-wrapper">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
